fastapi
uvicorn

python-dotenv
joblib

langchain
langchain-core
langchain-community
langchain-classic
langchain-experimental
langchain-text-splitters
langchain-chroma
langchain-ollama
langchain-groq
langchain-openai
langchain-huggingface
chromadb

youtube-transcript-api
yt-dlp

sentence-transformers


rank-bm25